@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background: #b3e59f;
  position: relative;
  font-family: "Inter", sans-serif;
}
.alura {
  position: absolute;
  width: 100%;
  left: 20px;
  top: 20px;
}
.dev {
  position: absolute;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  left: 60px;
  top: 0px;
}
.dev a,
.dev a:visited {
  color: #146940;
  text-decoration: none;
}
.underline-hover-effect {
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}
a.underline-hover-effect {
  text-decoration: none;
  color: inherit;
}
.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #146940;
  transition: width 0.45s ease-out;
}
.underline-hover-effect:hover::before {
  width: 100%;
}
.underline {
  display: flex;
}
.drawLine {
  width: 30px;
  margin: 10px;
}
.hideLetter {
  display: none;
  font-size: 18px;
}
.btn-start, .btn-green {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  position: absolute;
  width: 317px;
  height: 114px;
  left: 0;
  top: 20rem;
  background: #146940;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.glow-on-hover {
  width: 220px;
  height: auto;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 30px;
}
.glow-on-hover:hover{
  color: #000;
}
.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #247815,
    #319a1f,
    #40ca30,
    #95df3a,
    #c4de68,
    #e1e440,
    #40ca30,
    #319a1f,
    #247815
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 30px;
  color: #000;
}
.glow-on-hover:active:after {
  background: transparent;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 30px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn-new-word, .btn-white {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  position: absolute;
  width: 280px;
  height: 67px;
  left: 1.2rem;
  top: 28rem;
  border: 1px solid #146940;
  box-sizing: border-box;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  color: #146940;
}
.text-input {
  position: absolute;
  width: 600px;
  height: auto;
  left: 1.5rem;
  top: 200px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  justify-content: baseline;
  color: #146940;
  background: transparent;
  border: none;
  text-transform: uppercase;
}
::placeholder {
  color: #146940;
  text-transform: lowercase;
}
.text-input:focus {
  border: none;
  outline: none;
}
label {
  flex-direction: row;
  position: static;
  width: 300px;
  height: 18px;
  left: 24px;
  top: 0px;
  padding-left: 25px;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  color: #495057;
}
.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: auto;
  height: 18px;
  left: 2rem;
  top: 41rem;
}
.input-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 680px;
  height: 67px;
  left: 0;
  top: 43rem;
}
.canvas {
  margin-left: 2.5rem;
  width: 1024px;
  height: 800px;
}
.canvas-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  width: 680px;
  height: 67px;
  left: 28.5rem;
  top: 760px;
  margin-bottom: 25px;
}
.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 42rem;
}
.add-word {
  position: absolute;
  left: 30rem;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 481px) and (max-width: 796px) {
  .home-buttons {
    top: 16rem;
    left: 12.2rem;
  }
  .btn-new-word {
    width: 270px;
    height: 67px;
    top: 7rem;
    left: 0.7rem;
    font-size: 22px;
    line-height: 20px;
  }
  .btn-start {
    width: 289px;
    height: 100px;
    top: 0;
    font-size: 22px;
    line-height: 20px;
  }
  .btn-green {
    width: 300px;
    height: 67px;
    left: 31.5%;
    top: 450px;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}
.btn-white {
  width: 300px;
  height: 67px;
  left: 20px;
  top: 450px;
  font-size: 18px;
  line-height: 20px;
}
label {
  padding-left: 3rem;
  font-size: 18px;
}
.form-group {
  left: 1.5rem;
  top: 710px;
}
.input-buttons {
  width: 680px;
  height: 57px;
  left: 0.5rem;
  top: 740px;
}
.text-input {
  width: 550px;
  height: auto;
  left: 2rem;
  top: 200px;
  font-size: 32px;
}
.canvas {
  margin-left: -4rem;
  width: 739px;
  height: 800px;
}
.canvas-buttons {
  width: 680px;
  height: 67px;
  left: 9rem;
  top: 64rem;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    min-width: 375px;
    min-height: 667px;
  }
  .home-buttons {
    top: 16rem;
    left: 4.2rem;
  }
  .btn-new-word {
    width: 200px;
    height: 57px;
    left: 1rem;
    top: 6.5rem;
    font-size: 16px;
    line-height: 0px;
  }
  .btn-start {
    width: 230px;
    height: 90px;
    left: 0;
    top: 0;
    font-size: 18px;
    line-height: 10px;
  }
  .btn-green {
    width: 300px;
    height: 57px;
    left: 0;
    top: 450px;
    font-size: 18px;
    line-height: 20px;
  }
  .btn-white {
    width: 300px;
    height: 57px;
    left: 0;
    top: 480px;
    font-size: 18px;
    line-height: 20px;
  }
  label {
    width: 200px;
    height: 18px;
    left: 16px;
    top: 451px;
    font-size: 18px;
    padding-left: 2.5rem;
  }
  .form-group {
    left: 16px;
    top: 451px;
  }
  .input-buttons {
    flex-wrap: wrap;
    width: 343px;
    height: 158px;
    left: 0;
    top: 30rem;
  }
  .text-input {
    width: 343px;
    height: auto;
    left: 16px;
    top: 152px;
    font-size: 32px;
    line-height: 150%;
  }
  .add-word {
    top: 0.4rem;
    left: 0.1rem;
  }
  .canvas {
    margin-left: 2.5rem;
    width: 1024px;
    height: 800px;
  }
  .canvas-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 28.5rem;
    top: 760px;
    margin-bottom: 25px;
    text-shadow: #5c5c5c;
  }
}